body {
  margin: 0;
  background: #fafafa;
}
textarea {
  font-family: inherit;
}
@media (max-width: 700px) {
  body, #root, div {
    font-size: 16px;
  }
  table th, table td {
    font-size: 14px;
    padding: 2px 4px;
  }
}
